.lable-intro {
	h1 {
		width: 100%;
		text-align: center;
		font-size: 38px;
		font-weight: bold;
		padding-bottom: 30px;
		text-transform: capitalize !important;
		font-family: "Raleway", sans-serif;
		margin-bottom: 0.5rem;
		margin-top: 0;

		@media (max-width: 479px) and (min-width: 320px) {
			font-size: 27px;
		}
	}

	h3 {
		width: 100%;
		text-align: center;
		font-size: 18px;
		font-weight: 400;
		color: #725ac1;
		letter-spacing: 9px;
		font-family: "Raleway", sans-serif;
		margin-top: 0;
		line-height: 1.1;
		margin-bottom: 0.5rem;

		@media (max-width: 479px) and (min-width: 320px) {
			font-size: 12px;
			letter-spacing: 5px;
		}
	}
}

.discount {
	margin-top: 90px;

	@media (max-width: 767px) and (min-width: 480px) {
		padding: 0 15px 0 15px;
	}

	@media (max-width: 479px) and (min-width: 320px) {
		padding: 0 15px 0 15px;
	}
}

.discount-images {
	text-align: center;
}

.discount-img {
	margin-right: 2.4%;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	width: calc(23.2% - 4px);

	@media (max-width: 991px) and (min-width: 768px) {
		width: 48%;
		margin: 22px 4px auto !important;
	}

	@media (max-width: 767px) and (min-width: 480px) {
		width: 47%;
		margin: 22px 4px auto !important;
	}

	@media (max-width: 479px) and (min-width: 320px) {
		width: 100%;
	}


	img {
		width: 100%;
		height: 277px;
	}

	&:last-child {
		margin-right: 0;
	}
}


.discount-img-content {
	position: absolute;
	top: 78px;
	text-align: center;
	width: 100%;
	font-family: "Montserrat", sans-serif;
	line-height: 40px;

	@media (max-width: 991px) and (min-width: 768px) {
		top: 70px;
	}

	h3 {
		font-weight: 400;
		font-family: "Montserrat", sans-serif;
		padding-bottom: 16px;
		font-size: 14px;
		margin-bottom: 0.5rem;
		line-height: 1.1;
		margin-top: 0;

		a {
			text-decoration: none;
			color: #000;

			@media (max-width: 991px) and (min-width: 768px) {
				font-size: 12px;
			}

			&:hover {
				color: #725ac1;
			}
		}
	}

	h1 {
		font-weight: 300;
		font-family: "Montserrat", sans-serif;
		padding-bottom: 20px;
		letter-spacing: 0.1px;
		margin-bottom: 0.5rem;
		line-height: 1.1;
		margin-top: 0;

		a {
			font-size: 44px;
			text-decoration: none;
			color: #000;

			@media (max-width: 991px) and (min-width: 768px) {
				font-size: 33px;
			}

			&:hover {
				color: #725ac1;
			}
		}
	}
}

.collecion_button {
	text-transform: uppercase;
	font-size: 12px;
	font-family: "Raleway", sans-serif;
	font-weight: bold;

	a {
		padding: 9px 26px;
		background: #725ac1;
		color: #fff;
		text-decoration: none;

		@media (max-width: 991px) and (min-width: 768px) {
			padding: 8px 18px;
			font-size: 10px;
		}
	}
}