footer {
	margin-top: 0;
	position: relative;
	background-size: 100%;
	background: #fff;
	overflow: hidden;
	float: left;
	width: 100%;
}

.footer-before {
	width: 100%;
	position: relative;

	@media (max-width: 991px) and (min-width: 768px) {
		padding: 39px 0 39px 0;
	}

	@media (max-width: 767px) and (min-width: 480px) {
		padding: 39px 0 39px 0;
	}

	@media (max-width: 479px) {
		padding: 39px 0 39px 0;
	}
}

.footer-column {
	float: none;
	position: relative;
	max-width: 173px;
	text-align: left;

	@media (max-width: 991px) and (min-width: 768px) {
		max-width: unset;
		width: 100% !important;
		padding: 0 15px !important;
		text-align: left;
	}

	@media (max-width: 767px) and (min-width: 480px) {
		max-width: unset;
		width: unset !important;
		padding: 0 15px !important;
		text-align: left;
	}

	@media (max-width: 479px) {
		max-width: unset;
		width: unset !important;
		padding: 0 15px !important;
		text-align: left;
	}
}

.footer-column-list {
	@media (max-width: 991px) and (min-width: 768px) {
		display: none !important;
	}

	@media (max-width: 767px) and (min-width: 480px) {
		display: none !important;
	}

	@media (max-width: 479px) {
		display: none !important;
	}
}

.footer-column1 {
	display: inline-block;
	width: 17%;
	border-right: 1px solid #dedede;
	padding: 0 30px 0 0;

	@media (max-width: 1650px) {
		width: 15.5%;
	}

	@media (max-width: 1199px) and (min-width: 992px) {
		padding: 0;
	}

	@media (max-width: 991px) and (min-width: 768px) {
		display: block;
		border: none;
		padding: 0;
	}

	@media (max-width: 767px) and (min-width: 480px) {
		display: block;
		border: none;
		width: unset;
	}

	@media (max-width: 479px) {
		display: block;
		border: none;
		width: unset;
	}
}

.footer-column1-block {
	padding: 85px 0 155px 0;
	float: left;

	@media (max-width: 1650px) {
		padding: 90px 0 155px 0;
	}

	@media (max-width: 1199px) and (min-width: 992px) {
		padding: 90px 0 171px 0;
	}

	@media (max-width: 991px) and (min-width: 768px) {
		float: none;
		padding: 0;
	}

	@media (max-width: 767px) and (min-width: 480px) {
		float: none;
		padding: 0;
	}

	@media (max-width: 479px) {
		float: none;
		padding: 0;
	}
}

.footer-column-head {
	color: #000;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 27px;
	letter-spacing: 0.8px;
	padding: 0;
	margin-top: 0;
	text-transform: uppercase;

	&:hover {
		.material-icons.add {
			display: none;
		}

		.material-icons.remove {
			display: inline;
		}
	}

	@media (max-width: 991px) and (min-width: 768px) {
		margin-bottom: 0;
		cursor: pointer;
		padding: 10px 0;
	}

	@media (max-width: 767px) and (min-width: 480px) {
		margin-bottom: 0;
		cursor: pointer;
		padding: 10px 0;
	}

	@media (max-width: 479px) {
		margin-bottom: 0;
		cursor: pointer;
		padding: 10px 0;
	}
}

.footer-column1-appstore {
	padding: 6px 0 0 0;
}

.appstore-block {
	margin-bottom: 14px;
	width: auto;
	text-decoration: none;
	display: inline-block;

	img {
		width: 135px;
		height: 40px;
		border-style: none;
		vertical-align: middle;
		max-width: 100%;
		cursor: pointer;

		@media (max-width: 991px) and (min-width: 768px) {
			display: block;
		}

		@media (max-width: 767px) and (min-width: 480px) {
			display: block;
		}

		@media (max-width: 479px) {
			display: block;
		}
	}
}

.footer-column-cntr {
	ul {
		list-style: none;
		padding-left: 0;
		margin-top: 0;
		display: inherit;

		li {
			a {
				color: #6d6d6d;
				cursor: pointer;
				font-size: 12px;
				line-height: 30px;
				letter-spacing: 0.7px;
				position: relative;
				font-weight: 400;
				text-decoration: none;
			}
		}
	}
}

.footer-column2,
.footer-column3 {
	vertical-align: top;
	max-width: 156.39px;
	width: 16.7%;
	padding: 85px 0 0 44px;
	display: inline-block;

	@media (max-width: 1650px) {
		width: 15.5%;
		padding: 90px 0 0 20px;
	}

	@media (max-width: 991px) and (min-width: 768px) {
		vertical-align: unset;
		max-width: unset;
		width: unset;
		display: block;
		padding: 0;
	}

	@media (max-width: 767px) and (min-width: 480px) {
		vertical-align: unset;
		max-width: unset;
		width: unset;
		display: block;
		padding: 0;
	}

	@media (max-width: 479px) {
		vertical-align: unset;
		max-width: unset;
		width: unset;
		display: block;
		padding: 0;
	}

}

.footer-column3 {
	@media (max-width: 1199px) and (min-width: 992px) {
		padding: 90px 0 0 0;
	}
}

.footer-column4 {
	vertical-align: top;
	display: inline-block;
	padding: 85px 0 203px 9px;
	width: 19%;
	margin-right: 0;
	max-width: none;
	border-right: 1px solid #dedede;

	@media (max-width: 1650px) {
		padding: 90px 0 198px 0;
	}

	@media (max-width: 1199px) and (min-width: 992px) {
		padding: 90px 0 214px 6px;
		width: auto;
	}

	@media (max-width: 991px) and (min-width: 768px) {
		display: block;
		width: unset;
		border: none;
		padding: 0;
	}

	@media (max-width: 767px) and (min-width: 480px) {
		display: block;
		width: unset;
		border: none;
		padding: 0;
	}

	@media (max-width: 479px) {
		display: block;
		width: unset;
		border: none;
		padding: 0;
	}

	ul {
		padding: 0px;
		margin: 0;
		color: #6d6d6d;
		line-height: 30px;
		font-size: 13px;
		text-transform: capitalize;
		letter-spacing: 0.7px;
		list-style: none;

		li {
			width: 194.47px;

			i {
				font-size: 14px;
				color: #725ac1;
				display: inline-block;
				width: 20px;
				position: relative;
				vertical-align: middle;
			}

			a {
				font-weight: 400;
			}
		}

		li:last-child {
			display: inline;
		}
	}
}

.footer-column4-text {
	color: #6d6d6d;
	line-height: 30px;
	font-size: 13px;
	text-transform: capitalize;
	letter-spacing: 0.7px;
}

.footer-column-right-container {
	display: inline-block;
	width: 24%;
	vertical-align: top;
}

.footer-column5 {
	display: inline-block;
	width: 22.5%;
	padding: 90px 0 0 50px;
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
	max-width: none;

	@media (max-width: 1199px) and (min-width: 992px) {
		width: 23.5%;
		padding: 90px 0 0 20px !important;
	}

	@media (max-width: 991px) and (min-width: 768px) {
		display: block;
		width: unset;
		padding: 0;
	}

	@media (max-width: 767px) and (min-width: 480px) {
		display: block;
		width: unset;
		padding: 0;
	}

	@media (max-width: 479px) {
		display: block;
		width: unset;
		padding: 0;
	}
}

.footer-column5-service-block {
	margin: 0 auto 18px;
	position: relative;
}

.footer-column5-head {
	display: none;

	@media (max-width: 991px) and (min-width: 768px) {
		display: block;
	}

	@media (max-width: 767px) and (min-width: 480px) {
		display: block;
	}

	@media (max-width: 479px) {
		display: block;
	}
}

.footer-column5-imagdiv {
	background: url(../images/footer-services.png) no-repeat scroll 0 0;
	height: 50px;
	width: 50px;
	display: inline-block;
}

.footer-column5-imagdiv1 {
	background-position: 0 0;
}

.footer-column5-imagdiv2 {
	background-position: 0 -339px;
}

.footer-column5-imagdiv3 {
	background-position: 0 -690px;
}

.footer-column5-service-intro {
	margin-left: 10px;
	width: auto;
	display: inline-block;

	h1 {
		letter-spacing: 0;
		color: #000;
		text-transform: uppercase;
		margin-bottom: 0;
		white-space: nowrap;
		margin-top: 0;
		margin: 0.67em 0;
		font: 600 12px/16px "Montserrat", sans-serif;
	}

	p {
		font-size: 12px;
		line-height: 30px;
		color: #7f7f7f;
		letter-spacing: 0.7px;
		font-family: "Raleway", sans-serif;
		font-weight: 400;
		margin: 0 0 10px 0;
	}
}

.footer-column6 {
	max-width: none;
	right: 0;
	left: 0;
	text-align: center;

	ul {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
		margin-top: 0;
	}

	li {
		height: 38px;
		width: 38px;
		display: inline-block;
		cursor: pointer;
		border-radius: 0;
		transition: all 600ms ease 0s;
		border: 1px solid #dcdcdc;
		margin-bottom: 5px;

		:last-child {
			margin: 0 !important;
		}
	}

	a {
		display: block;
		height: 100%;
		white-space: nowrap;
		text-indent: 100%;
		overflow: hidden;
	}

	&:hover {
		border-color: #725ac1;
	}
}

.facebook {
	background: url(../images/footer-social.png) no-repeat scroll 10px 12px;

	&:hover {
		background: #725ac1 url(../images/footer-social.png) no-repeat scroll -28px 12px;
	}
}

.twitter {
	background: url(../images/footer-social.png) no-repeat scroll 10px -22px;

	&:hover {
		background: #725ac1 url(../images/footer-social.png) no-repeat scroll -28px -22px;
	}
}

.rss {
	background: url(../images/footer-social.png) no-repeat scroll 10px -57px;

	&:hover {
		background: #725ac1 url(../images/footer-social.png) no-repeat scroll -28px -57px;
	}
}

.youtube {
	background: url(../images/footer-social.png) no-repeat scroll 10px -125px;

	&:hover {
		background: #725ac1 url(../images/footer-social.png) no-repeat scroll -28px -125px;
	}
}

.google-plus {
	background: url(../images/footer-social.png) no-repeat scroll 10px -90px;

	&:hover {
		background: #725ac1 url(../images/footer-social.png) no-repeat scroll -28px -90px;
	}
}

.accordian {
	display: none;

	@media (max-width: 991px) and (min-width: 768px) {
		display: inline;
		float: right !important;
	}

	@media (max-width: 767px) and (min-width: 480px) {
		display: inline;
		float: right !important;
	}

	@media (max-width: 479px) {
		display: inline;
		float: right !important;
	}
}

.material-icons.add,
.material-icons.remove {
	font-size: 20px;
	color: #725ac1;
}

.material-icons.remove {
	display: none;
}