.showcase1 {
    margin-top: 90px !important;

    @media (max-width: 479px) and (min-width: 320px) {
        .showcase-nav {
            li {
                width: 100%;
                border: none;
            }
        }
    }
}

.showcase2 {
    @media (max-width: 479px) and (min-width: 320px) {
        .showcase-nav-item {
            width: calc(50% - 4px);
        }

        // .nav-item {
        //     padding: 17px 0;
        // }

        .showcase-nav-item3,
        .showcase-nav-item4 {
            display: none;
        }

        .showcase-nav {
            ul {
                li {
                    a {
                        padding: 17px 0;
                    }
                }
            }
        }
    }

}

.showcase {
    margin: 0;
    width: 100%;
    position: relative;
    text-align: center;
    clear: both;
    display: inline-block;

    .showcase-product4 {
        @media (max-width: 991px) and (min-width: 768px) {
            display: none !important;
        }
    }


    @media (max-width: 767px) and (min-width: 480px) {

        .showcase-product3,
        .showcase-product4 {
            display: none !important;
        }
    }

    @media (max-width: 479px) and (min-width: 320px) {

        .showcase-product3,
        .showcase-product4 {
            display: none !important;
        }
    }


}

.showcase-nav-container {
    clear: both;
    border: 1px solid #dedede;

    @media (max-width: 767px) and (min-width: 480px) {
        margin: 0 15px 0 15px;
    }

    @media (max-width: 479px) and (min-width: 320px) {
        margin: 0 15px 0 15px;
    }
}

.showcase-nav {
    line-height: 10px;

    ul {
        text-align: center;
        width: 100%;
        border: 1px solid #e6e6e6;
        background: #f7f7f7;
        border-top: none;
        border-right: none;
        border-left: none;
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 0;
        list-style: none;
    }

    li {
        margin-bottom: -1px;
        position: relative;
        width: calc(25% - 4px);
        border: 1px solid #dedede;
        border-top: none;
        border-bottom: none;
        border-left: none;
        display: inline-block;

        a {
            text-decoration: none;
            display: block;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.4px;
            color: #222;
            border-top: none;
            border-right: none;
            border-left: none;
            padding: 17px 88px;
            text-transform: uppercase;
            font-weight: bold;

            @media (max-width: 1199px) and (min-width: 992px) {
                padding: 17px 65px;
            }

            @media (max-width: 991px) and (min-width: 768px) {
                padding: 17px 10px;
            }

            @media (max-width: 767px) and (min-width: 480px) {
                padding: 17px 10px;
            }

            @media (max-width: 543px) {
                font-size: 10px;
            }
        }
    }
}

.showcase-nav-item:first-child {
    background: #fff;
    border-bottom: none !important;
    font-weight: bold;
}

.showcase-nav-item:last-child {
    border-right: none;
}

.showcase-tab-container {
    padding: 0px;
    border: none;
    background: none;
    line-height: 24px;
    display: block;

    @media (max-width: 991px) and (min-width: 768px) {
        margin-top: 40px;
    }
}

.showcase-products {
    position: relative;
    padding: 0 15px;
    margin: 30px 0 30px 0;

    ul {
        display: flex;
        list-style: none;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 1rem;
        line-height: 24px;
        text-align: left;
    }

    li {
        width: 300px;
        display: block;
        position: relative;
        padding-right: 15px;
        padding-left: 15px;

        @media (max-width: 991px) and (min-width: 768px) {
            width: 246px;
        }

        img {
            text-align: center;
            display: inline-block;
            transition: all 600ms ease 0s;
            max-width: 100%;
        }
    }

    &:hover {
        .showcase-navigation {
            opacity: 1;
        }
    }
}

.showcase-navigation {
    a.prev {
        left: -17px;

        @media (max-width: 1650px) {
            left: 0;
        }
    }

    a.next {
        right: -17px;

        @media (max-width: 1650px) {
            right: 0;
        }
    }
}

.product-description {
    text-align: left;
    margin-top: 25px;
    padding: 15px;
}

.showcase-product-head {
    text-transform: capitalize;
    margin-bottom: 8px;
    display: block;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.1;

    // text-overflow: ellipsis;
    // overflow: hidden;
    // white-space: nowrap;
    // width: 70%;
    // display: block
    a {
        color: #000;
        font-size: 12px;
        font-weight: 500;
        text-transform: none;
        letter-spacing: 1px;
        line-height: 24px;
        text-decoration: none;
    }
}

.showcase-product-subhead {
    color: #222;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    clear: both;
    letter-spacing: 0.2px;
    font-family: "Montserrat", sans-serif;
}

.regular-price {
    color: #bebebe;
    text-decoration: line-through;
    display: inline-block;
    vertical-align: top;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.img-translate {
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleX(0);
    margin: 0 auto;
}

.showcase-product1,
.showcase-product2,
.showcase-product3,
.showcase-product4 {
    &:hover {
        .img-translate {
            opacity: 1;
            transform: scaleX(1);
        }

        .new {
            opacity: 1;
        }

        img {
            opacity: 0;
        }
    }
}

.discount-flag {
    background: #725ac1;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 5px 10px 1px;
    text-align: center;
    z-index: 1;
    border-radius: 50%;
}

.discount-flag-text {
    z-index: 2;
    color: #fff;
    padding: 0 2px;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    vertical-align: baseline;
    line-height: 24px;
}

.new {
    opacity: 0;
    top: 10px;
    display: block;
    position: absolute;
    color: #222;
    text-transform: capitalize;
    line-height: normal;
    letter-spacing: 0.4px;
    transition: all 0.6s ease-in-out;
    font-family: "Open Sans", sans-serif;

    @media (max-width: 479px) {
        font-size: 10px;
        padding: 0 2px;
    }

    @media (max-width: 767px) {
        opacity: 1;
        transform: scale(1)
    }
}