body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  color: #000;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

.navigation {
  position: absolute;
  z-index: 959;
  width: 100%;
  direction: ltr !important;
  text-align: center;
  clear: both;
  top: 36%;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navigation a.prev {
  left: 0;
  border: 1px solid #e6e6e6;
}

.navigation a.prev:hover {
  background: #725ac1;
  border: #725ac1;
}

.navigation a.next {
  right: 0;
  border: 1px solid #e6e6e6;
}

.navigation a.next:hover {
  background: #725ac1;
  border: #725ac1;
}

.navigation a {
  position: absolute;
  line-height: 36px;
  padding: 0;
  height: 35px;
  width: 35px;
  cursor: pointer;
  overflow: hidden;
  font-size: 0.001px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #fff;
}

header {
  background: #f7f7f7;
  padding: 14px 30px 14px;
  height: 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left-nav {
  margin: 0;
  z-index: 1;
}

.dropbtn {
  background-color: #f7f7f7;
  color: black;
  font-size: 12px;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
  padding: 0;
}

.dropbtn:hover {
  color: #725ac1;
}

.lang-dropdown {
  padding-right: 28px;
  border-right: 1px solid #e6e6e6;
}

.currency-dropdown {
  padding: 0 0 0 23px;
  left: -4px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover {
  background-color: #f7f7f7;
}

.material-icons.expand-more {
  font-size: 12px;
  position: relative;
  top: 2px;
}

.dropdown-content {
  position: absolute;
  left: 0;
  top: 27px;
  z-index: 1000;
  min-width: 120px;
  color: #878787;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e6e6e6;
  padding: 5px 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  top: 55px;
}

.dropdown-content a {
  color: black;
  padding-top: 10px;
  text-decoration: none;
  display: block;
  padding: 6px 10px;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
  top: 27px;
}

.center-nav {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  width: 20%;
  margin: 0 auto;
}

.center-nav p {
  font-size: 12px;
  color: black;
  cursor: auto;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
}

.center-nav:hover p {
  color: #725ac1;
}

.right-nav {
  z-index: 1;
}

.right-nav ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right-nav li {
  display: inline-block;
  padding: 0 10px;
}

.right-nav li a {
  text-decoration: none;
  color: black;
}

.right-nav li a:hover {
  color: #725ac1;
}

.right-nav a {
  display: block;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.search-bar {
  float: left;
  position: relative;
  width: auto;
  padding: 55px 0 0px 20px;
}

.search-bar form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-bar form input[type="text"] {
  display: inline-block;
  padding: 0;
  font-size: 12px;
  color: #222;
  border: none;
  border-top-width: medium;
  border-top-style: none;
  border-top-color: currentcolor;
  background: none;
  border-radius: 4px;
  border: 1px solid transparent;
  width: 215px;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  letter-spacing: 1px;
}

.search-bar form button[type="submit"] {
  background: transparent;
  border: 1px solid #fff;
  top: 100px;
  right: 0;
  padding: 0;
  outline: 0;
  background: #fff url("../images/search.png") no-repeat scroll center;
  height: 40px;
  width: 50px;
  border-left: 1px solid #e6e6e6;
  cursor: pointer;
}

.main-logo img {
  z-index: 9;
  padding: 0;
  left: 0;
  right: 0;
  position: absolute;
  top: 81px;
  margin: 0 auto;
  cursor: pointer;
}

.right-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.title-bar-icons {
  height: 40px;
  width: 50px;
  float: left;
  margin-right: 17px;
  border: 1px solid #fff;
  border-right: 1px solid #e6e6e6;
}

.contact-icon {
  background: #fff url("../images/user.png") no-repeat scroll center;
}

.user .user-subhead {
  color: #725ac1;
  font-size: 11px;
  width: 193px;
  margin-top: 4px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.user-head {
  font-size: 12px;
  text-transform: uppercase;
  color: #222;
  font-weight: 700;
  letter-spacing: 1px;
}

.cart-icon {
  background: #fff url("../images/basket.png") no-repeat scroll center;
}

.cart .cart-subhead {
  color: #725ac1;
  font-size: 11px;
  width: 191px;
  margin-top: 4px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.9px;
}

.cart-head {
  font-size: 12px;
  text-transform: uppercase;
  color: #222;
  font-weight: 700;
  letter-spacing: 0.9px;
}

.user-option {
  display: inline-block;
  position: relative;
  padding: 58px 16px 0 25px;
}

.shopping {
  padding-right: 17px;
}

nav {
  position: relative;
  background: #fff;
  text-align: center;
  padding: 35px 0 0;
}

.nav-container {
  margin-bottom: 0px;
  padding: 0 30px;
  display: inline-block;
}

.nav-container > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 52px;
  text-align: center;
  margin: 0;
  list-style: none;
  padding-left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-container li a {
  padding: 17px 24px 18px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 1.6px;
  line-height: 17px;
  text-decoration: none;
  display: inline-block;
}

.nav-container li a:hover {
  color: #725ac1;
}

.clothes-hover {
  position: relative;
}

.clothes-hover:hover .clothes-dropdown-container {
  visibility: visible;
  opacity: 1;
  top: 52px;
}

.clothes-dropdown-container {
  padding: 20px 0 20px 25px;
  position: absolute;
  background: #fff;
  border: 1px solid #e6e6e6;
  z-index: 1;
  font-size: 14px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  top: 80px;
}

.clothes-dropdown > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.clothes-dropdown > ul > li {
  width: 201px;
  list-style: none;
  text-align: left;
  padding-right: 25px;
}

.hover-list-head {
  display: inline-block;
  width: 100%;
  border-bottom: 2px solid #e6e6e6;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 10px;
  cursor: pointer;
}

.hover-list-head:hover {
  color: #725ac1;
}

.list-items-container ul {
  padding: 0;
}

.list-items-container ul li {
  white-space: normal;
  color: #000 !important;
  font-size: 13px;
  padding: 5px 0;
  letter-spacing: 0.8px;
  line-height: normal;
  list-style: none;
  cursor: pointer;
}

.list-items-container ul li:hover {
  color: #725ac1;
}

.clothes-dropdown-container img {
  display: block;
  margin-top: 20px;
}

.offer-section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  width: 100%;
  background: #725ac1;
  padding: 12px 0px 0px 0px;
  letter-spacing: 1.4px;
  height: 40px;
  display: inline-block;
  position: relative;
}

.offer-section p {
  margin: auto;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.offer-img {
  display: inline-block;
  position: relative;
}

.offer-img img {
  height: auto;
  border-style: none;
  vertical-align: middle;
  width: 100%;
  position: relative;
}

.offer-img ul {
  top: 41%;
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.offer-img ul li {
  list-style: none;
}

.offer-img ul li a {
  text-decoration: none;
  display: block;
  position: absolute;
  top: 41%;
  z-index: 8;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size: 0px;
  line-height: 1;
  height: 50px;
  width: 50px;
  background: #000;
  border: 1px solid #000;
}

.offer-img ul li a:hover {
  background: #725ac1;
  border-color: #725ac1;
  height: 50px;
  width: 50px;
}

.offer-img:hover ul {
  opacity: 1;
}

.flex-direction-nav .flex-nav-prev .flex-prev {
  left: 30px;
}

.flex-direction-nav .flex-nav-next .flex-next {
  right: 30px;
}

.flex-prev::after {
  content: "\E314";
  font-family: "Material Icons";
  position: absolute;
  font-size: 48px;
  right: 0;
  top: 10px;
  line-height: 29px;
  left: 0;
  color: #fff;
}

.flex-next::after {
  content: "\E315";
  font-family: "Material Icons";
  position: absolute;
  font-size: 48px;
  right: 0;
  top: 10px;
  line-height: 29px;
  left: 0;
  color: #fff;
}

.services-container {
  margin: -78px auto 0px;
  position: relative;
}

.service-block-container {
  width: calc(25% - 12px);
  text-align: center;
  position: relative;
  padding-left: 0;
  display: inline-block;
  padding-right: 0;
}

.services-block-container:first-child {
  padding-left: 0;
}

.services-block-container:last-child {
  padding-right: 0;
}

.service-block {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding: 38px 0 45px;
  border-radius: 4px;
  float: none;
  position: relative;
}

.service-block:hover .imagdiv1 {
  background-position: 21px 26px;
}

.service-block:hover .imagdiv2 {
  background-position: 22px -260px;
}

.service-block:hover .imagdiv3 {
  background-position: 22px -545px;
}

.service-block:hover .imagdiv4 {
  background-position: 22px -830px;
}

.imagdiv {
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  background: url(../images/services.png) no-repeat #725ac1;
  border: 4px solid #fff;
  border-radius: 50%;
  float: none;
  position: relative;
  height: 72px;
  width: 72px;
  margin: 0 auto 18px;
}

.imagdiv1 {
  background-position: 21px -117px;
}

.imagdiv2 {
  background-position: 22px -402px;
}

.imagdiv3 {
  background-position: 22px -689px;
}

.imagdiv4 {
  background-position: 22px -975px;
}

.service-intro {
  margin-left: 10px;
  width: auto;
  display: inline-block;
}

.service-intro h1 {
  color: #000;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  letter-spacing: 1.1px;
  white-space: nowrap;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
}

.service-intro p {
  font-size: 12px;
  letter-spacing: 0;
  color: #a1a1a1;
  text-transform: capitalize;
  line-height: 20px;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.nl1 {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 49%;
  background: url(../images/nl1.jpg);
  background-size: 100% 100%;
  height: 593px;
}

.nl1::before {
  position: absolute;
  content: "";
  height: 97%;
  margin: 10px;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.9;
  float: left;
}

.nl1-intro {
  float: none;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: 102px;
}

.nl1-intro h1 {
  font-size: 38px;
  color: #222;
  line-height: 21px;
  letter-spacing: 2.4px;
  text-transform: capitalize;
  font-weight: bold;
  margin: auto;
}

.nl1-intro h3 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: 0.56em;
  margin-bottom: 23px;
  margin-top: 0;
  color: #725ac1;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

.nl1-intro p {
  font-size: 12px;
  color: #222;
  line-height: 27px;
  letter-spacing: 0.4px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  padding: 27px 107px;
}

.email-input {
  text-align: center;
  width: 390px;
  color: #a1a1a1 !important;
  background: #fff;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  border: 1px solid #d6d3d3;
  height: 51px;
  float: none;
  margin-bottom: 10px;
  padding: 0;
}

.subscribe-btn {
  background-color: #725ac1;
  color: white;
  height: 51px;
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 1px;
  position: relative;
  top: 0;
  right: 0;
  width: 390px;
  height: 51px;
  font-weight: bold;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  display: inline-block;
  padding: 0;
}

.subscribe-btn:hover {
  background-color: black;
}

.nl2 {
  display: inline-block;
  position: relative;
  padding-left: 23px;
  margin: 0;
  vertical-align: top;
}

.nl2 h1 {
  margin-top: 10px;
  font-weight: 900;
  font-size: 38px;
  letter-spacing: 0.7px;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

.nl2 h3 {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 4.6px;
  color: #725ac1;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
}

.nl2 p {
  font-weight: 400;
  text-align: center;
}

.nl2-intro {
  margin-top: 40px;
  height: 107px;
}

.lable-intro h1 {
  width: 100%;
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  padding-bottom: 30px;
  text-transform: capitalize !important;
  font-family: "Raleway", sans-serif;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.lable-intro h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #725ac1;
  letter-spacing: 9px;
  font-family: "Raleway", sans-serif;
  margin-top: 0;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

.discount {
  margin-top: 90px;
}

.discount-images {
  text-align: center;
  display: block;
}

.discount-img {
  margin-left: 26px;
  display: inline-block;
  position: relative;
}

.discount-img1 {
  margin-left: 0;
}

.discount-img-content {
  position: absolute;
  top: 78px;
  text-align: center;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  line-height: 40px;
}

.discount-img-content h3 {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 16px;
  font-size: 14px;
  margin-bottom: 0.5rem;
  line-height: 1.1;
  margin-top: 0;
}

.discount-img-content h3 a {
  text-decoration: none;
  color: #000;
}

.discount-img-content h3 a:hover {
  color: #725ac1;
}

.discount-img-content h1 {
  font-size: 44px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 20px;
  letter-spacing: 0.1px;
  margin-bottom: 0.5rem;
  line-height: 1.1;
  margin-top: 0;
}

.discount-img-content h1 a {
  text-decoration: none;
  color: #000;
}

.discount-img-content h1 a:hover {
  color: #725ac1;
}

.collecion_button {
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.collecion_button a {
  padding: 9px 26px;
  background: #725ac1;
  color: #fff;
  text-decoration: none;
}

.pyp {
  position: relative;
  width: 100%;
  margin: 90px 0 90px;
  text-align: center;
  /* padding: 0 30px; */
  background-size: 100% 100%;
  background: rgba(0, 0, 0, 0) url(../images/parralax.jpg) no-repeat fixed 0 0;
  height: 500px;
}

.pyp-container {
  width: 100%;
  float: none;
  text-align: center;
  vertical-align: middle;
  padding-top: 150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.pyp-container .pyp-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2.2px;
}

.pyp-content {
  border: 8px solid #f5d6d1;
  padding: 13px 0px 13px 0px;
  font-size: 66px;
  margin-top: 20px;
  clear: both;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  background: #fff;
}

.pyp-sub-title {
  padding: 15px 60px 15px 60px;
  clear: both;
}

.pyp-click-btn {
  margin-top: 40px;
  line-height: 35px;
}

.pyp-click-btn a {
  padding: 13px 35px;
  background: #725ac1;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
}

.pyp-click-btn a:hover {
  background: black;
}

.showcase1 {
  margin-top: 90px !important;
}

.showcase {
  margin: 0;
  width: 100%;
  position: relative;
  text-align: center;
  clear: both;
}

.showcase-nav-container {
  display: inline-block;
  clear: both;
  border: 1px solid #dedede;
}

.showcase-nav {
  line-height: 10px;
}

.showcase-nav ul {
  text-align: center;
  width: 100%;
  border: 1px solid #e6e6e6;
  background: #f7f7f7;
  border-top: none;
  border-right: none;
  border-left: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
}

.showcase-nav li {
  margin-bottom: -1px;
  position: relative;
  width: calc(25% - 4px);
  border: 1px solid #dedede;
  border-top: none;
  border-bottom: none;
  border-left: none;
  display: inline-block;
}

.showcase-nav li a {
  text-decoration: none;
  display: block;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #222;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 14px 88px;
  text-transform: uppercase;
  font-weight: bold;
}

.showcase-nav-item:first-child {
  background: #fff;
  border-bottom: none !important;
  font-weight: bold;
}

.showcase-nav-item:last-child {
  border-right: none;
}

.showcase-tab-container {
  padding: 0px;
  border: none;
  background: none;
  line-height: 24px;
  display: block;
}

.showcase-products {
  position: relative;
  padding: 0 15px;
  margin: 30px 0 30px 0;
}

.showcase-products ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 24px;
  text-align: left;
}

.showcase-products li {
  width: 300px;
  display: block;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}

.showcase-products li img {
  text-align: center;
  display: inline-block;
  -webkit-transition: all 600ms ease 0s;
  transition: all 600ms ease 0s;
  max-width: 100%;
}

.showcase-products:hover .showcase-navigation {
  opacity: 1;
}

.showcase-navigation a.prev {
  left: -17px;
}

.showcase-navigation a.next {
  right: -17px;
}

.product-description {
  text-align: left;
  margin-top: 25px;
  padding: 15px;
}

.showcase-product-head {
  text-transform: capitalize;
  margin-bottom: 8px;
  display: block;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.1;
}

.showcase-product-head a {
  color: #000;
  font-size: 12px;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 1px;
  line-height: 24px;
  text-decoration: none;
}

.showcase-product-subhead {
  color: #222;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  clear: both;
  letter-spacing: 0.2px;
  font-family: "Montserrat", sans-serif;
}

.regular-price {
  color: #bebebe;
  text-decoration: line-through;
  display: inline-block;
  vertical-align: top;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.btn {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid #725ac1;
  padding: 2px 16px;
  font-size: 13px;
  text-transform: uppercase;
  background: #725ac1;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  color: #fff;
  position: relative;
  line-height: 32px;
  letter-spacing: 0.4px;
}

.navigation a.prev::before {
  content: "\E314";
}

.navigation a.next::before {
  content: "\E315";
}

.navigation a::before {
  font-family: "Material Icons";
  position: absolute;
  font-size: 22px;
  right: 0;
  top: 5px;
  line-height: 24px;
  left: 0;
  color: #e6e6e6;
}

.img-translate {
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  margin: 0 auto;
}

.showcase-product1:hover .img-translate,
.showcase-product2:hover .img-translate,
.showcase-product3:hover .img-translate,
.showcase-product4:hover .img-translate {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.showcase-product1:hover .new,
.showcase-product2:hover .new,
.showcase-product3:hover .new,
.showcase-product4:hover .new {
  opacity: 1;
}

.showcase-product1:hover img,
.showcase-product2:hover img,
.showcase-product3:hover img,
.showcase-product4:hover img {
  opacity: 0;
}

.discount-flag {
  background: #725ac1;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 5px 10px 1px;
  text-align: center;
  z-index: 1;
  border-radius: 50%;
}

.discount-flag-text {
  z-index: 2;
  color: #fff;
  padding: 0 2px;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  vertical-align: baseline;
  line-height: 24px;
}

.new {
  opacity: 0;
  top: 10px;
  display: block;
  position: absolute;
  color: #222;
  text-transform: capitalize;
  line-height: normal;
  letter-spacing: 0.4px;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  font-family: "Open Sans", sans-serif;
}

.brands {
  position: relative;
  width: 100%;
  padding: 70px 0 70px 0;
  clear: both;
}

.brands-container {
  position: relative;
}

.brands-container:hover .brands-navigation {
  opacity: 1;
}

.brand-item-container {
  display: inline-block;
  position: relative;
  list-style: none;
  text-align: center;
}

.brand-item {
  padding: 10px 15px 10px;
  display: block;
}

.brand-image a img {
  position: relative;
  margin: 0 auto;
  border: none;
  opacity: 0.1;
  vertical-align: middle;
  max-width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.brand-image a img:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.blog-container {
  margin: auto;
}

.blog-block-container {
  width: 49%;
  display: inline-block;
}

.blog-block {
  padding: 15px 15px 20px;
  margin-bottom: 0 !important;
  display: inline-block;
  text-align: center;
}

.blog-block:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.9;
}

.blog-block:hover .blog-head a {
  color: #725ac1;
}

.blog-img {
  width: 47%;
  position: relative;
  max-width: 100%;
  padding: 0;
  float: left;
  overflow: hidden;
  background: #fff;
}

.blog-img img {
  width: 100%;
  -webkit-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
}

.blog-icons {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  bottom: 0;
  height: 51px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  z-index: 2;
}

.blog-icons a {
  width: 45px;
  height: 45px;
  display: inline-block;
  float: none;
  text-decoration: none;
}

.blog.icon.zoom:before {
  content: "\f002";
  left: 0px;
}

.icon.zoom:before {
  font-family: "FontAwesome";
  border: 1px solid #725ac1;
  background: #fff;
  bottom: 0;
  color: #725ac1;
  font-size: 14px;
  height: 45px;
  margin: auto;
  right: 50%;
  padding: 14px;
  position: absolute;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 0;
  width: 45px;
  line-height: 17px;
}

.blog-text {
  float: right;
  width: 53%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 45px 5px 15px 20px;
  position: relative;
  background: transparent;
  text-align: left;
}

.blog-text-inner {
  margin: 0;
  color: black;
  text-align: left;
  position: relative;
  width: 100%;
  display: block;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.blog-text-inner h4 {
  line-height: 20px;
  margin: 20px 0 20px;
  width: 100%;
  font-weight: 500;
  float: left;
  font-size: 1.125rem;
  position: relative;
}

.blog-text-inner h4:hover {
  color: #725ac1;
}

.blog-text-inner h4 a {
  font-weight: 700;
  text-decoration: none;
  color: #131313;
  font-size: 12px;
  float: left;
  font-weight: bold;
  text-align: left;
  margin: 0;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 1px;
}

.blog-text-inner p {
  color: #838383;
  margin: 0 0 10px 0;
  text-transform: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
}

.date {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #725ac1;
}

.blog-btn {
  float: left;
  margin: 10px 0 0 0;
  width: 108px;
  font-weight: bold;
  font-size: 12px;
  position: relative;
}

.blog-btn a {
  margin: 10px 0 0 0;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid #725ac1;
  padding: 2px 16px;
  background: #725ac1;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  line-height: 32px;
  letter-spacing: 0.4px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.blog-btn a:hover {
  background-color: #000;
}

.testimonial {
  width: 100%;
  position: relative;
  background: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0) url("../images/testimonial-bg.jpg") no-repeat fixed 0 0;
  background-size: auto;
  background-size: 100% 100%;
  margin-top: 90px;
}

.testimonial-container {
  position: relative;
  padding: 80px 0;
}

.testimonial-container:hover .testimonial-navigation {
  opacity: 1;
}

.testimonial-navigation {
  top: 50%;
}

.testimonial-block {
  padding: 0 80px;
}

.testimonial-block-inner {
  padding: 10px 0;
}

.testimonial-img {
  margin-bottom: 30px;
}

.quatation {
  position: relative;
  z-index: 1;
}

.quatation::after {
  content: "";
  position: absolute;
  color: #725ac1;
  left: -122px;
  top: -15px;
  display: inline-block;
  background: url(../images/quote.png) no-repeat scroll center;
  height: 80px;
  width: 80px;
}

.user-img {
  border-radius: 4px;
  height: 113px;
  width: 113px;
  margin: 0 auto;
}

.user-img img {
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  z-index: 99999;
}

.user-review {
  float: none;
  display: inline-block;
  width: 85%;
  text-align: center;
  padding-left: 24px;
  position: relative;
}

.user-review p {
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.9px;
  color: #222;
  margin-bottom: 17px;
  margin-top: 0;
  font-weight: 400;
  padding: 0px 92px 0 92px;
}

.about-user a {
  float: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.4px;
  color: #000;
  font-family: Raleway, "bold";
  font-weight: bold;
}

.about-user p {
  font-size: 12px;
  color: #222;
  line-height: 22px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  margin: 0;
}

footer {
  margin-top: 0;
  position: relative;
  background-size: 100%;
  background: #fff;
  overflow: hidden;
  float: left;
  width: 100%;
}

.footer-before {
  width: 100%;
  position: relative;
}

.footer-column {
  float: none;
  position: relative;
  max-width: 173px;
  text-align: left;
}

.footer-column1 {
  display: inline-block;
  width: 17%;
  border-right: 1px solid #dedede;
  padding: 0 30px 0 0;
}

.footer-column1-block {
  padding: 85px 0 155px 0;
  float: left;
  display: block;
}

.footer-column-head {
  color: #000;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 27px;
  letter-spacing: 0.8px;
  padding: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.footer-column1-appstore {
  padding: 6px 0 0 0;
}

.appstore-block {
  margin-bottom: 14px;
  float: left;
  width: auto;
  text-decoration: none;
}

.appstore-block img {
  width: 135px;
  height: 40px;
  border-style: none;
  vertical-align: middle;
  max-width: 100%;
  cursor: pointer;
}

.footer-column-cntr ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  display: inherit;
}

.footer-column-cntr ul li a {
  color: #6d6d6d;
  cursor: pointer;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 0.7px;
  position: relative;
  font-weight: 400;
  text-decoration: none;
}

.footer-column3 {
  left: -7px !important;
}

.footer-column2,
.footer-column3 {
  vertical-align: top;
  left: -4px;
  max-width: 156.39px;
  width: 16.7%;
  padding: 85px 0 0 44px;
  display: inline-block;
}

.footer-column4 {
  left: -10px;
  vertical-align: top;
  display: inline-block;
  padding: 85px 0 203px 9px;
  width: 18.9%;
  margin-right: 0;
  max-width: none;
  border-right: 1px solid #dedede !important;
}

.footer-column4 ul {
  padding: 0px;
  margin: 0;
  color: #6d6d6d;
  line-height: 30px;
  font-size: 13px;
  text-transform: capitalize;
  letter-spacing: 0.7px;
  list-style: none;
}

.footer-column4 ul li {
  width: 194.47px;
}

.footer-column4 ul li i {
  font-size: 14px;
  color: #725ac1;
  display: inline-block;
  width: 20px;
  position: relative;
  vertical-align: middle;
}

.footer-column4 ul li a {
  font-weight: 400;
}

.footer-column4 ul li:last-child {
  display: inline;
}

.footer-column4-text {
  color: #6d6d6d;
  line-height: 30px;
  font-size: 13px;
  text-transform: capitalize;
  letter-spacing: 0.7px;
}

.footer-column-right-container {
  display: inline-block;
  width: 24%;
  vertical-align: top;
}

.footer-column5 {
  display: inline-block;
  width: 22.5%;
  padding: 90px 0 0 50px;
  text-align: left;
  white-space: nowrap;
  vertical-align: top;
  max-width: none;
}

.footer-column5-service-block {
  margin: 0 auto 18px;
  position: relative;
}

.footer-column5-imagdiv {
  background: url(../images/footer-services.png) no-repeat scroll 0 0;
  height: 50px;
  width: 50px;
  display: inline-block;
}

.footer-column5-imagdiv1 {
  background-position: 0 0;
}

.footer-column5-imagdiv2 {
  background-position: 0 -339px;
}

.footer-column5-imagdiv3 {
  background-position: 0 -690px;
}

.footer-column5-service-intro {
  margin-left: 10px;
  width: auto;
  display: inline-block;
}

.footer-column5-service-intro h1 {
  color: #000;
  text-transform: uppercase;
  margin-bottom: 0;
  letter-spacing: 0.1px;
  white-space: nowrap;
  margin-top: 0;
  margin: 0.67em 0;
  font: 600 14px/16px "Montserrat", sans-serif;
}

.footer-column5-service-intro p {
  font-size: 12px;
  line-height: 30px;
  color: #7f7f7f;
  letter-spacing: 0.7px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0 0 10px 0;
}

.footer-column6 {
  max-width: none;
  right: 0;
  left: 0;
  text-align: center;
}

.footer-column6 ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-column6 li {
  height: 38px;
  width: 38px;
  display: inline-block;
  cursor: pointer;
  border-radius: 0;
  -webkit-transition: all 600ms ease 0s;
  transition: all 600ms ease 0s;
  border: 1px solid #dcdcdc;
  margin-bottom: 5px;
}

.footer-column6 li :last-child {
  margin: 0 !important;
}

.footer-column6 a {
  display: block;
  height: 100%;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
}

.footer-column6:hover {
  border-color: #725ac1;
}

.facebook {
  background: url(../images/footer-social.png) no-repeat scroll 10px 12px;
}

.facebook:hover {
  background: #725ac1 url(../images/footer-social.png) no-repeat scroll -28px 12px;
}

.twitter {
  background: url(../images/footer-social.png) no-repeat scroll 10px -22px;
}

.twitter:hover {
  background: #725ac1 url(../images/footer-social.png) no-repeat scroll -28px -22px;
}

.rss {
  background: url(../images/footer-social.png) no-repeat scroll 10px -57px;
}

.rss:hover {
  background: #725ac1 url(../images/footer-social.png) no-repeat scroll -28px -57px;
}

.youtube {
  background: url(../images/footer-social.png) no-repeat scroll 10px -125px;
}

.youtube:hover {
  background: #725ac1 url(../images/footer-social.png) no-repeat scroll -28px -125px;
}

.google-plus {
  background: url(../images/footer-social.png) no-repeat scroll 10px -90px;
}

.google-plus:hover {
  background: #725ac1 url(../images/footer-social.png) no-repeat scroll -28px -90px;
}

.footer-after {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #725ac1;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 10px 10px 10px 10px;
}

.footer-after-container {
  margin-left: 0;
  margin-right: 0;
}

.footer-left {
  text-align: center;
  width: 55%;
  float: left;
  padding: 0px;
  position: relative;
}

.footer-left p {
  margin: 0;
  left: -5.5px;
  position: relative;
}

.footer-left p a {
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.7px;
  text-decoration: none;
}

.footer-right {
  display: inline-block;
  right: 16%;
  width: 23.5%;
  position: relative;
}

.payment p {
  display: inline-block;
  padding: 0 2px;
  margin: 0;
}

.payment p a {
  text-decoration: none;
}

.payment p a:hover {
  color: black;
}

.payment p a img {
  width: 44px;
  height: 25px;
  border-style: none;
  vertical-align: middle;
  max-width: 100%;
}
/*# sourceMappingURL=styles.css.map */